###################################################
# Python
###################################################

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

###################################################
# Virtual Environment
###################################################

venv/
.env
.env.*

###################################################
# VS Code
###################################################

.vscode/

###################################################
# Jupyter
###################################################

.ipynb_checkpoints/

###################################################
# Logs
###################################################

*.log

###################################################
# Python cache
###################################################

.pytest_cache/
.mypy_cache/

###################################################
# OS
###################################################

.DS_Store
Thumbs.db

###################################################
# Docker
###################################################

*.tar

###################################################
# TensorFlow
###################################################

*.h5

###################################################
# Build
###################################################

build/
dist/

###################################################
# Temporary files
###################################################

*.tmp
*.bak

###################################################
# CSV temporaires (optionnel)
###################################################

data/bronze/*.csv

###################################################
# Secrets
###################################################

backend/.env